:root {
    --main-color: #ef7998;
    --secondary-color: rgb(249, 228, 148);
    --white-color: #fff;
    --black-color: #000; 
    --yellow-color:  rgba(249, 228, 148, 0.5);
    --grey-color: rgb(238, 238, 238)
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Kaushan Script', cursive;
}
/*start header*/
nav .nav-item .nav-link,
.navbar-nav .nav-link.active {
    color: var(--main-color);
    font-size: 20px;
    transition: .4s ease-in-out;
}
nav .nav-item .nav-link:hover,
.navbar-nav .nav-link.active:hover {
    color: var(--black-color);
}
.navbar-toggler {
    border: none;
    color: var(--main-color);
    font-size: 28px;
}
.navbar-toggler:focus {
    box-shadow: none;
}
/*start nav items cart*/
.items p a {
    color: var(--main-color);
    transition: .4s ease-in;
}
.items p a:hover {
    color: var(--black-color);
}
.items button {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 4px;
    transition: .3s ease-in;
}
.items button:hover {
    background-color: var(--main-color);
    color: var(--white-color);
    border-color: var(--main-color);
}
/*end nav items cart*/
/*end header*/
/*start main*/
main {
    background: url(../images/headerBcg.jpeg) center fixed;
    background-size: cover;
    height: calc(100vh - 76px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--yellow-color), var(--yellow-color));
}
main .text {
    position: relative;
    z-index: 111;
}
main .text h1{
    color: var(--white-color);
    text-transform: capitalize;
    margin-bottom: 22px;
}
main .text h1 span {
    color: var(--main-color);
    font-size: 64px;
}
main .text a {
    color: var(--black-color);
    border: 3px solid var(--black-color);
    border-radius: 4px;
    transition: .5s ease-in-out;
    font-size: 18px;
    padding: 5px 12px;
}
main .text a:hover {
    background-color: var(--black-color);
    color: var(--main-color);
}
main .cart {
    position: absolute;
    top: 0;
    right: 0;
    width: 280px;
    height: 200px;
    display: none;
    background: rgba(255, 255, 255, 0.5);
    transition: .4s ease-in-out;
}
.show {
    display: block  !important; 
}
/*end main*/
/*for all*/
h2 span {
    color: var(--main-color);
    font-size: 50px;
}
/*for all*/
/*start about*/
.about {
    padding-top: 80px;
    padding-bottom: 60px;
}
.about h2 {
    text-transform: capitalize;
    margin-bottom: 16px;
}
.about p {
    width: 81%;
    margin-bottom: 25px;
}
.about .text a {
    color: var(--black-color);
    border: 1px solid var(--black-color);
    border-radius: 4px;
    transition: .4s ease-in;
    padding: 4px 10px;
}
.about .text a:hover {
    background-color: var(--black-color);
    color: var(--main-color);
}
.about .image::before {
    content: '';
    position: absolute;
    top: -22px;
    left: -24px;
    width: 100%;
    height: 100%;
    border: 7px solid var(--secondary-color);
    z-index: -1;
}
/*end about*/
/*start store*/
.store {
    background-color: var(--grey-color);
    padding-top: 70px;
    padding-bottom: 60px;
}
.store ul {
    width: 60%;
}
.store ul.links li {
    border: 1px solid var(--black-color);
    border-radius: 4px;
    padding: 5px 12px;
    margin: 13px 20px;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.store ul.links li.active {
    background-color: var(--black-color);
    color: var(--main-color);
}
.store form input {
    width: 45%;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    outline: none;
    border: 1px solid rgb(220 211 202);
    padding: 4px 12px;
    caret-color: var(--main-color);
}
.store form button {
    background-color: var(--main-color);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 5px 12px;
    border: none;
    outline: none;
}
.store .card-image {
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.store .card .card-image img {
    transition: .8s ease-in-out;
}
.store .card .card-image:hover img {
    transform: scale(1.1);
}
.store .card-image svg {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    padding: 12px;
    border-top-left-radius: 15px;
    transition: .8s ease-in-out;
    transform: translate(100%, 100%);
}
.store .card-image:hover svg {
    transform: translate(0, 0);
}
.store .card-image svg:hover {
    color: var(--white-color);
}
/*end store*/
/*start section chef*/
.chef {
    padding-top: 55px;
    padding-bottom: 65px;
}
.chef .box img {
    transition: all .6s ease-in;
}
.chef .box:hover img {
    transform: scale(1.1);
    filter: blur(4px);
}
.chef .box .icons {
    position: absolute;
    top: 45%;
    left: 32%;
}
.chef .box svg {
    background-color: var(--secondary-color);
    color: var(--main-color);
    width: 20px;
    height: 20px;
    padding: 8px;
    font-size: 18px;
    margin-left: 5px;
    transition: all .8s ease-in;
    opacity: 0;
}
.chef .box:hover svg {
    opacity: .8;
}
/*end section chef*/
/*start contact*/
.contact {
    background-color: var(--grey-color);
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact form label {
    color: var(--main-color);
}
/*end contact*/
/*start footer*/
footer {
    background: var(--yellow-color);
    color: var(--main-color);
    font-size: 18px;
}
.hide {
    display: none;
}
/*end footer*/